@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Oswald:wght@200&display=swap');

@layer base {
    body {
        @apply font-[Dosis];
        @apply bg-[#f9f5f0];
    }
    li {
        @apply px-4;
        @apply cursor-crosshair
    }
}

.video-container {
    width: 650px;
    height: auto;
}

.work-container {
    margin-top: 250px; /* Adjust the margin as needed */
}
